<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-sdk tools:overrideLibrary="org.publicvalue.multiplatform.mobilecapture.scanner,org.uooc.document" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />

    <!--    需要移除的权限-->
    <uses-permission
        android:name="android.permission.CALL_PHONE"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.READ_CALENDAR"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.WRITE_CALENDAR"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.READ_CONTACTS"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:node="remove" />
    <!--    需要移除的权限-->


    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="SelectedPhotoAccess" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_VIDEO"
        tools:ignore="SelectedPhotoAccess" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_AUDIO"
        tools:ignore="SelectedPhotoAccess" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--    //android:appComponentFactory="androidx.core.app.CoreComponentFactory"-->
    <application
        android:name=".AppDelegateImpl"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${APP_NAME}"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComposeApp"
        android:usesCleartextTraffic="true"
        tools:remove="android:appComponentFactory"
        tools:replace="android:networkSecurityConfig,android:name,android:allowBackup,android:theme,android:label,android:roundIcon"
        tools:targetApi="s">

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mnc|colorMode|density|fontScale|fontWeightAdjustment|keyboard|layoutDirection|locale|mcc|navigation|smallestScreenSize|touchscreen|uiMode"
            android:exported="true"
            android:theme="@style/Theme.ComposeApp.Starting"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    tools:replace="android:name" />
                <category
                    android:name="android.intent.category.LAUNCHER"
                    tools:replace="android:name" />
            </intent-filter>
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.VIEW" />-->
            <!--                <category android:name="android.intent.category.DEFAULT" />-->
            <!--                <category android:name="android.intent.category.BROWSABLE" />-->
            <!--                <data android:scheme="um.6715d15480464b33f6e0c816" />-->
            <!--            </intent-filter>-->
            <!-- <meta-data
                 android:name="android.app.shortcuts"
                 android:resource="@xml/shortcuts"
                 tools:replace="android:resource" />-->
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>

        <!--<activity
            android:name="uooconline.com.education.ui.activity.SplashActivity"
            android:exported="false"
            tools:replace="android:exported">
            <intent-filter tools:node="removeAll" />
            <meta-data tools:node="removeAll" />
            &lt;!&ndash;通过前面的node remove掉所有属性&ndash;&gt;
            &lt;!&ndash;后面再补上需要的属性,这样就能去掉启动intent的配置,避免compose模块被抢走优先权&ndash;&gt;
            <intent-filter>
                <data android:scheme="uoocstudent" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>


        </activity>-->


        <service
            android:name=".CustomDownloadService"
            android:enabled="true"
            android:foregroundServiceType="dataSync"
            android:exported="false" />


    </application>

</manifest>
