*.iml
.fleet/
.kotlin/
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
**/Cargo.lock
.externalNativeBuild
.cxx
**/yarn.lock

rs/**/target/
rs/**/*.lock


src/androidMain/jniLibs/**/libhellorust.so
src/desktopMain/resources/jni/**/libhellorust.*

src/nativeInterop/cinterop/hellorust/

**/*.xcodeproj/*
**/*.xcodeproj/project.xcworkspace/

!**/*.xcodeproj/project.pbxproj
!**/*.xcodeproj/xcshareddata/

!**/*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
